@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* global.css */
/* ... (previous styles) */

body {
  background-color: #0b0a08;
}

.floating-button {
    position: fixed;
    bottom: 50px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center horizontally */
  }
  
  .floatingButtonStyle button {
    background-color: #984da0;
    color: rgb(226, 8, 8);
    border: none;
    border-radius: 15px; /* Adjust the border-radius to control the button's smoothness */
    width: 110px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  /* styles.css */
/* styles.css */
.floating-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background: #d603ee; /* Change the background color to RGB(54, 159, 255) */
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

  
  .floating-button button:hover {
    background-color: #ff6f61;
  }
  
  /* global.css or your component-specific CSS file */
.font-anton {
    font-family: 'Anton', sans-serif;
  }

  /* Disable the focus outline */
*:focus {
  outline: none;
}

.bg-image {
  background-image: url('/pages/Images/wallpaper.png'); /* Adjust the path as needed */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  /* Your styles for the page content go here */
}

/* components/layout/FloatingButton.module.css */
/* components/layout/FloatingButton.module.css */
.bn29 {
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.bn29:before,
.bn29:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.bn29:before {
  filter: blur(7px);
  transition: all 0.25s ease;
  animation: pulse 10s infinite ease;
}

.bn29:after {
  filter: blur(0.3px);
}

.bn29:hover:before {
  width: 115%;
  height: 115%;
}

@keyframes pulse {
  0%,
  100% {
    filter: blur(7px);
  }
  50% {
    filter: blur(5px);
  }
}

