@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* global.css */
/* ... (previous styles) */

body {
  background-color: #0b0a08;
}

.floating-button {
    position: fixed;
    bottom: 50px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center horizontally */
  }
  
  .floatingButtonStyle button {
    background-color: #984da0;
    color: rgb(226, 8, 8);
    border: none;
    border-radius: 15px; /* Adjust the border-radius to control the button's smoothness */
    width: 110px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  /* styles.css */
/* styles.css */
.floating-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background: #d603ee; /* Change the background color to RGB(54, 159, 255) */
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

  
  .floating-button button:hover {
    background-color: #ff6f61;
  }
  
  /* global.css or your component-specific CSS file */
.font-anton {
    font-family: 'Anton', sans-serif;
  }

  /* Disable the focus outline */
*:focus {
  outline: none;
}

  